// Layout default values
$width-full-percentage: 100%;
$width-full-viewport: 100vh;

// Layout Responsive default values
$xxsm-devices-value: 320px;
$xsm-devices-value: 360px;
$sm-devices-value: 414px;
$sm-landcape-devices-value: 568px;
$xxmd-devices-value: 768px;
$xmd-devices-value: 1024px;
$md-devices-value: 1200px;