@import '../../../../styles/sass/index.scss';

.single-input {
    border: none;
    background: $white;
    outline: none;
    font-size: 14px;
    color: $black;
    padding: 10px;
    text-transform: capitalize;
}