@import '../../../styles/sass/index';

.submit-button {
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0 30px 0 30px;
    text-transform: capitalize;
}